
.login-body {
    overflow: hidden;
}

/* LOGO HEADER */
.logo-header {
    margin-top: 5rem;
}

.logo-header-icon {
}

.logo-header-name {
    font-size: 4rem;
    font-weight: bolder;
}
/* LOGO HEADER */


/* LOGIN TITLE */
.login-title {
    display: flex;
    flex-direction: column;
}

.login-name {
    font-size: 2rem;
}
.login-sign-in{
    font-size: 1.3rem;
    opacity: 0.8;

}
/* LOGIN TITLE */





/* LOGIN FORM */
.login-form {
    margin: 3rem;
}

.login-form > button {
    font-family: inherit;
    color: rgb(255, 255, 255);
    border: none;
    cursor:pointer;
    padding: 10px 24px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    -moz-box-shadow: 0 8px 10px -6px rgb(193, 193, 193);
    box-shadow: 0 8px 10px -6px rgb(196, 196, 196);
    border-radius: 500px;
    margin-right: -6rem;
    font-size: medium;
    font-weight: bolder;
    background-image: linear-gradient(to right, #a5a5c8 0%, #a29dbb 51%, #adadd0 100%)
}

.login-form-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.7rem;
}

.login-username {
    display: flex;
    margin: 0rem 4.5rem 0.5rem 1rem;
}

.login-password {
    display: flex;
    margin: 2rem 4.5rem 0.5rem 1rem;
}

.login-password-format {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.login-password-format > input {
    background-color: rgb(245, 245, 245);
    border: 1rem;
    padding: 10px 20px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    -moz-box-shadow: 0 8px 10px -6px rgb(193, 193, 193);
    box-shadow: 0 8px 10px -6px rgb(196, 196, 196);
    outline: none;
}
/* LOGIN FORM */


/* CREATE ACCOUNT */
.signup {
    margin-top: 7rem;
}

.signup > a {
    color: rgb(114, 114, 163);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: larger;
    font-weight: bolder;
    font-family: inherit;
    text-decoration: none;
}

.signup > a:hover {
    cursor: pointer;
}
/* CREATE ACCOUNT */



.password-error-login {
    position: relative;
    top: 30%;
    color: rgb(244, 80, 80);
    margin-bottom: -1.5rem;
}