/* PROFILE HEADER */
header {
    display: flex;
    flex: 1;
    align-items: center;
    height: 13rem;
    width: 100%;
    border-radius: 8%;
    background-color: rgb(185, 185, 226);
    margin-top: -4.2rem;
}

.profile-header-icon {
    background-color: rgb(185, 185, 226);
    color: white;
    transition: 0.3s;
    margin-top: 2rem;
}

.profile-header-icon:hover {
    transition: 0.3s;
    color: rgb(104, 104, 152);

}

.profile-header-left {
    display: flex;
    margin-left: 3rem;
    margin-top: 1rem;

}

.profile-header-right {
    position: absolute;
    right: 0;
    margin-right: 2.5rem;
    margin-top: 1rem;
}




/* PROFILE BOX */
.profile-header-box {
    text-align: center;
    width: 14rem;
    padding: 4rem 3rem 2rem 3rem;
    margin: -6rem auto;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 1em;
    -moz-border-radius: 12em;
    border-radius: 25px;
    -moz-box-shadow: 0 8px 10px -6px rgb(222, 222, 222);
    box-shadow: 0 8px 10px -6px rgb(222, 222, 222);
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile-box-img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -2rem;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    margin-bottom: 0.8rem;
}

.profile-box-fullname {
    color: rgb(88, 88, 131);
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
}

.profile-box-button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: rgb(88, 88, 131);;
}

.profile-header-box > a, button {
    font-family: inherit;
    color: rgb(255, 255, 255);
    border: none;
    cursor:pointer;
    padding: 10px 24px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    border-radius: 500px;
    font-size: small;
    font-weight: bolder;
    background-image: linear-gradient(to right, #b3b3d8 0%, #b2adcc 51%, #bbbbe1 100%)
}

.profile-header-box > span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-box-bio {
    margin-top: -0.5rem;
}
/* PROFILE BOX */





/* FOLLOWING STATUS */
.profile-following-list {
    display: flex;
    justify-content: center;
    margin: 7rem auto;
    margin-bottom: 1rem;
    background-color: #bbbbe3;
    color: rgb(83, 83, 83);
    padding: 0.5rem;
    width: 13rem;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    border-radius: 500px;
    font-size: small;
    font-weight: bolder;
}

.profile-following-box {
    display: flex;
    justify-content: center;
    margin: 7.2rem auto;
    margin-bottom: 1rem;
    background-color: #c4c4ee;
    color: rgb(83, 83, 83);
    padding-right: 5rem;
    padding-left: 5rem;
    padding: 0.5rem 5rem;
    width: 13rem;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    border-radius: 500px;
    font-size: small;
    font-weight: bolder;
}

.profile-following-box > div {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}
/* FOLLOWING STATUS */





/* GALLERY FEED */
.profile-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 1rem;
}

.profile-gallery > h2 {
    text-align: center;
}

.profile-gallery-feed {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.profile-gallery-img-rectangle {
    height: 10rem;
    width: 15rem;
    margin-right: 1rem;
    margin-left: 1rem;
    object-fit: fill;
    -webkit-border-radius: 1em;
    -moz-border-radius: 12em;
    border-radius: 20px;
    -moz-box-shadow: 0 8px 10px -6px rgb(222, 222, 222);
    box-shadow: 0 8px 10px -6px rgb(222, 222, 222);
    image-rendering: -webkit-optimize-contrast;
    transition: 0.2s;
}

.profile-gallery-img-square {
    height: 12rem;
    width: 12rem;
    margin: 0.5rem;
    object-fit: cover;
    -webkit-border-radius: 1em;
    -moz-border-radius: 12em;
    border-radius: 20px;
    -moz-box-shadow: 0 8px 10px -6px rgb(222, 222, 222);
    box-shadow: 0 8px 10px -6px rgb(171, 171, 171);
    image-rendering: -webkit-optimize-contrast;
    transition: 0.2s;
}

.square-2 {
    margin-left: 2rem;
}

.gallery-notes {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
/* GALLERY FEED */



/* SQUARE GRID FEED */
.square-gallery-feed {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 1.5rem;
}
/* SQUARE GRID FEED */
