
.register-body {
    overflow: hidden;
}

.header-register-icon {
    text-decoration: none;
}

.register-header-name {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 1rem;
}




input {
    border: 1px solid #d3d5d8;
    background-color: rgb(245, 245, 245);
    border: 1rem;
    padding: 13px 30px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    -moz-box-shadow: 0 8px 10px -6px rgb(193, 193, 193);
    box-shadow: 0 8px 10px -6px rgb(196, 196, 196);
    outline: none;
    margin: 0.5rem;
}

.register-form {
    margin-top: -1rem;
}

.register-form > button {
    margin-top: -1.5rem;
}

.register-password-format {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.register-create {
    margin-bottom: 0.5rem;
}

.register-password-format1 {
    display: flex;
    padding: 3rem;
    align-items: center;
}



/* CREATE ACCOUNT */

.register-signup {
    margin-top: 6.5rem;
}

.register-signup > a {
    color: rgb(114, 114, 163);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: larger;
    font-weight: bolder;
    font-family: inherit;
    text-decoration: none;
}

/* CREATE ACCOUNT */




.password-error {
    position: relative;
    top: 25%;
    color: rgb(244, 80, 80);
    margin-bottom: 0.2rem;
}
