/* RESPONSIVE DESIGN */

@media (max-width: 200px) {
    html,body{
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* LOGIN */
    .logo-header-name {
        margin: 0 auto;
        font-size: 3rem;
    }

    .logo-header > h4 {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.9rem;
        margin-bottom: -3rem;
    }

    .signup {
        margin-top: -0.5rem;
        font-size: 0.9rem;
    }

    .login-form > button {
        padding: 8px 21px; 
        font-size: 0.8rem;
    }
/* LOGIN */



/* REGISTER */
    .register-header-name
    {
        font-size: 2rem;
        margin-bottom: -0.5rem;
    }

    .register-create {
        font-size: 0.9rem;
    }

    .register-signup {
        margin-top: -0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    input{
        padding: 10px 15px;  
        background-color: rgb(245, 245, 245);
        border: 1rem;
        font-size: 0.7rem;
    }

    .register-form > button {
        padding: 8px 21px;  
        font-size: 0.8rem;
        margin-left: -1.5rem;
    }
/* REGISTER */



@media (max-width: 350px) {
    html,body{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

@media (max-width: 377px) {
    html,body{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

@media (max-width: 400px) {
    html,body{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}




}


