
/* personalized settings */
.settings-create {
    margin-bottom: 0.8rem;
}


/* personalized settings */





/* settings form */
input {
    width: 10rem;
    height: 2.5rem;
    font-family: inherit;
    color: rgb(68, 68, 68);
}
.settings-format {
   display: flex;
   flex: 0;
}

.settings-format-1 {
    display: flex;
    margin-left: -11rem;
 }

.settings-password-format {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;    
}






.settings-format-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
 }

 .settings-format-info> input {
    width: 21rem;
 }

.profile {
    display: flex;
    flex-direction: column;
}

.profile > input {
    background-color: rgb(245, 245, 245);
    border: 1rem;
    padding: 10px 20px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    -moz-box-shadow: 0 8px 10px -6px rgb(193, 193, 193);
    box-shadow: 0 8px 10px -6px rgb(196, 196, 196);
    outline: none;
    height: 5rem;
    width: 5rem;
}

.email, .settings-bio, .college {
    margin-bottom: 0.8rem;
}

.college {
    margin-top: 0rem;
}



textarea {
    background-color: rgb(245, 245, 245);
    color: rgb(68, 68, 68);
    border: 1rem;
    padding: 10px 20px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 25px;
    -moz-box-shadow: 0 8px 10px -6px rgb(193, 193, 193);
    box-shadow: 0 8px 10px -6px rgb(196, 196, 196);
    outline: none;
    font-family: inherit;
    width: 21rem;
    margin-left: 0.5rem;
}
    







.settings-form {
    margin: 3rem;
    margin-top: -1rem;
}

.settings-2-form > button {
    margin-top: -1.5rem;
}

.settings-form > button {
    font-family: inherit;
    color: rgb(255, 255, 255);
    border: none;
    cursor:pointer;
    padding: 10px 24px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 500px;
    -moz-box-shadow: 0 8px 10px -6px rgb(193, 193, 193);
    box-shadow: 0 8px 10px -6px rgb(196, 196, 196);
    border-radius: 500px;
    font-size: medium;
    font-weight: bolder;
    background-image: linear-gradient(to right, #a5a5c8 0%, #a29dbb 51%, #adadd0 100%)
}

/* settings form */

.submit-settings {
    text-align: center;
    width: 15rem;
}