{% load static %}

<html lang="en">


  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}" rel="stylesheet">

    <!--<link rel="stylesheet" href="{% static 'sass/styles.scss' %}" rel="stylesheet">-->

    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>onlypaws | home</title>  
  </head>



  <body>
<!-- INDEX CONTAINER -->
    <div id="app" class="main animate__animated animate__fadeIn" v-cloak>

  <!-- HEADER -->
      <header>
        <div class="header">
            <div class="header-left">
              <a href="/" class="material-icons header-icon ">pets</a>
              <a href="/" class="header-name">onlypaws</a>
            </div>

            <div class="header-right">
              <a href="logout" class="material-icons settings-click">logout</a>
              <div v-if="isVisible" class="index-settings"></div>
            </div>

          </div>
      </header>
  <!-- HEADER -->


  <!-- profile header (circle) -->
  <div class="profile-header"> 
      <a href="/profile/{{user_profile}}" class="a-invisible">
        <img class="profile-header-img" src="{{user_profile.profileimg.url}}">
      </a>
      <!-- <div class="profile-welcome">welcome back</div> -->
      <a href="/profile/{{user_profile}}" >
        <div class="profile-header-tag">{{user_profile.firstname}}</div>
      </a>
      <div>
        <p class="profile-header-bio">
          {{user_profile.bio}}
        </p>
      </div>
  </div>
  <!-- profile header -->

  
  <!-- POST FEED -->
  <div class="post-feed animate__animated animate__fadeInUp">
    <!-- FIRST POST -->

        {% for post in posts reversed %}
        <div class="post">

          <img class="post-img" src="{{post.image.url}}">
          
          <div class="post-header">


            <div class="post-left">
              <a href="/profile/{{post.user}}">
              <img class="post-profile-img" src="/static/images/blank-profile-picture.png">
              </a>
              <a class="post-username" href="/profile/{{post.user}}"><b>@{{post.user}}</b></a>
            </div>


            <!--<div class="post-right">
              <a href="{{post.image.url}}" class="material-icons" download>download</a>
            </div>-->
        </div>


          <div class="post-like post-right">
            <a href="/like-post?post_id={{post.id}}" class="material-icons post-like-icon md-small">mood</a>
            {% if post.no_of_downloaded == 0 %}
            <strong class="post-like-count" ><b>favorited by ...</b></strong>
            {% elif post.no_of_downloaded == 1 %}
            <strong class="post-like-count" ><b>favorited by {{post.no_of_downloaded}} pal</b></strong>
            {% else %}
            <strong class="post-like-count" ><b>favorited by{{post.no_of_downloaded}} pals</b></strong>
            {% endif %}
          </div>

          <!--<div class="post-like post-right">
            <a href="/like-post?post_id={{post.id}}" class="material-icons post-like-icon md-small">auto_stories</a>
            <strong class="post-like-count"><b>{{post.course_name}}</b></strong>
          </div>-->

          <div>
            <div class="post-caption">
              <a href="/profile/{{post.user}}"><strong><b>{{post.user}}</b></strong></a>
              {{post.caption}}
            </div>
          </div>

        </div>
        {% endfor %}
    <!-- FIRST POST -->
  </div>
  <!-- POST FEED -->

  

<!-- SUGGESTED CONTAINER -->
<div v-if="showSuggested" class="suggested-panel animate__animated animate__bounceInLeft"> 
  <h3> more friends </h3>
  {% for suggestion in suggestions_username_profile_list %}
    <div class="suggested-container">
      <a href="/profile/{{suggestion.user}}">
        <img class="suggested-img" src="{{suggestion.profileimg.url}}">
      </a>
        <a href="/profile/{{suggestion.user}}" class="material-icons md-18 suggested-button">person_add</a>
          <div class="suggest-user">{{suggestion.user}}</div>
          <!--<div class="suggest-bio">{{suggestion.bio}}</div>-->
        <a href="/profile/{{suggestion.user}}" class="suggest-button">view user</a>
    </div>
    {% endfor %}
</div>


  <!--<div>
    <button @click.left="toggleSuggested" class="material-icons suggest-bar">group_add</button>
  </div>-->
<!-- SUGGESTED CONTAINER -->


<!-- FOOTER -->
<footer class="">

  <div class="footer-icons"> 
    <a class="material-icons footer-icon footer-1" href="/">home</a>
    <a @click.left="toggleSearch" class="material-icons footer-icon footer-2">search</a>
    <a @click.left="toggleSuggested" class="material-icons footer-icon footer-3">group</a>
    <a href="/settings"class="material-icons footer-icon footer-4">settings_suggest</a>
  </div>

  <form action="/search" method="POST">
    {% csrf_token %}
    <input v-if="showSearch" type="text" name="username" class="footer-search" placeholder="search">search</input>
    <button type="submit" class="search-button"></button>
  </form>

<!-- UPLOAD CONTAINER -->
  <div v-if="showUpload" class="footer-upload"> 
    <div class="share-main share-form">
        <div class="share-header-name">Share what's new.</div>
        <div class="settings-create">Click on the box to upload your image. </div>

          <!-- UPLOAD FORM -->
          <form class="settings-form settings-2-form" action="upload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="settings-password-format"> 

              <!-- DRAG OR DROP ZONE -->
              <div class="">
                <label for="dropzoneFile"></label>
              </div>
              <div>
                <a class="imagebox imagePreview" :style="{ 'background-image': `url(${previewImage})` }" @click="selectImage"></a>
                <input ref="fileInput" type="file" @input="pickFile" class="photo-file" name="image_upload">
              </div>
              <!-- DRAG OR DROP ZONE -->


              <!--<label class="profile" for="">
                Select which notes to share.
                <input type="file" id="notesFile" name="notes_upload" class="" /><br>
              </label>-->


              Then, add a title and caption for your post.
              <div class="settings-line">
                <div class="settings-format">
                <!-- <input name="filename" type="text" placeholder="file name" /> -->
                <input name="coursename" type="text" placeholder="post title" class="course"/>
              </div>

              <div class="settings-format-info">
                <textarea rows="3" name="caption" type="text" class="" placeholder="caption"></textarea>
              </div>
            </div>

            </div>
            <a class="submit-settings cancel" @click.left="toggleUpload">cancel</a>
            <button type="submit" class="submit-settings">share</button>

          </form>
          <!-- UPLOAD FORM -->
    </div>
<!-- UPLOAD CONTAINER -->

</div>
 <a class="material-icons footer-add-icon" @click.left="toggleUpload">add</a>
 </footer>
  <!-- FOOTER -->

  

    </div>
<!-- INDEX CONTAINER -->


<!-- FONT STYLING -->
    <!--
      font-family: 'Quicksand', sans-serif;
      font-family: 'Hind Siliguri', sans-serif;
      font-family: 'Lora', serif;
    -->
<!-- FONT STYLING -->


    <div class="clear"></div>

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module" src={% static 'js/app.js' %}></script>
  </body>




</html>