{% load static %}

<html lang="en">


  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    <title>aurie</title>
  </head>



  <body class="login-body">
<!-- INDEX CONTAINER -->
    <div id="app" class="main" v-cloak>
      
    <!-- HEADER -->
      <header>
        <!-- <div class="header">
          <div class="header-left">
            <span class="material-icons md-36">pets</span>
            <div class="header-name">aurie</div>
          </div>
          <div class="header-right">
            <button @click.left="directRegister()" class="material-icons" >login</button>
          </div>
          <div v-show="isVisible" class="header-settings-panel"></div>
          SEARCH: Add string to methods to make it work
          <input @keyup.enter="greet" />
          
        </div> -->
      </header> 
    <!-- HEADER -->

    <div class="login-box">
      <!-- LOGO HEADER -->
      <div class="logo-header">
        <div class="logo-header-name">aurie</div>
        <h4 class="">a one stop shop for your note library app.</h4>
      </div>
      <!-- LOGO HEADER -->




      <!-- LOGIN TITLE -->
        <!-- 
        <div class="login-title"> 
          <div class="login-name">login</div>
          <div class="login-sign-in"> sign in to continue </div>
        </div>
        -->
      <!-- LOGIN TITLE -->



      <!-- LOGIN FORM -->
      <form class="login-form" action="" method="POST">
        {% csrf_token %}

          <div class="password-error-login"> 
            {% for message in messages %}
              {{message}}
            {% endfor %}
          </div>

          <div class="login-password-format"> 
            <div class="login-username">
              <span class="material-icons md-36">person</span>
              <label for="username">username</label>
            </div>


              <input name="username" type="text" placeholder="" class="login-username-input" />


            <div class="login-password">
              <span class="material-icons md-36">lock</span>
              <label for="password">password</label>
            </div>


              <input name="password" type="password" placeholder=""/>


          </div>

            <button type="submit">sign in</button>

        </form>
      <!-- LOGIN FORM -->




      <!-- CREATE AN ACCOUNT -->
        <div class="signup">
          don't have an account?
          <a href="/register">register</a>
        </div>
      <!-- CREATE AN ACCOUNT -->







      </div>
    </div>
<!-- INDEX CONTAINER -->

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module" src={% static 'js/app.js' %}></script>
  </body>




</html>