{% load static %}

<html lang="en">


  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    <title>social media app</title>
  </head>



  <body class="login-body">
<!-- INDEX CONTAINER -->
    <div id="app" class="main" v-cloak>

    <!-- HEADER -->
      <header>
      </header>
    <!-- HEADER -->



    <div class="login-box">
      <!-- LOGO HEADER -->
      <div class="logo-header">
        <div class="logo-header-name">aurora </div>
      </div>
      <!-- LOGO HEADER -->




      <!-- LOGIN TITLE -->
        <!-- 
        <div class="login-title"> 
          <div class="login-name">login</div>
          <div class="login-sign-in"> sign in to continue </div>
        </div>
        -->
      <!-- LOGIN TITLE -->



      <!-- LOGIN FORM -->
      <form class="login-form">

          <div class="login-password-format"> 
            <div class="login-username">
              <span class="material-icons md-36">person</span>
              <div>username</div>
            </div>
              <input class="login-username-input" />
            <div class="login-password">
              <span class="material-icons md-36">lock</span>
              <div>password</div>
            </div>
              <input type="password" />
          </div>

            <button type="submit">sign in</button>

        </form>
      <!-- LOGIN FORM -->




      <!-- CREATE AN ACCOUNT -->
        <div class="signup">
          don't have an account?
          <a href="/register">register</a>
        </div>
      <!-- CREATE AN ACCOUNT -->







      </div>
    </div>
<!-- INDEX CONTAINER -->

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module" src={% static 'js/app.js' %}></script>
  </body>




</html>