{% load static %}

<html lang="en">


  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    <title>illume | {{user_profile.user.username}}'s profile</title>
  </head>



  <body>
<!-- INDEX CONTAINER -->
    <div id="app" class="main">

  <!-- HEADER -->
  <header>
    <div class="header profile-header">
        <div class="profile-header-left">
          <a href="/" class="material-icons profile-header-icon ">arrow_back_ios</a>
        </div>

        <div class="profile-header-right">
          <a href="/settings" class="material-icons profile-header-icon">manage_accounts</a>
        </div>

    </div>
  </header>
<!-- HEADER -->





<!-- PROFILE BOX -->
<form action="/follow" method="POST">
  {% csrf_token %}
  <div class="profile-header-box">
      <div class="profile">

        <a href="/profile/username">
          <img class="profile-box-img" src="{{user_profile.profileimg.url}}">
        </a>

        <h3 class="profile-box-fullname">{{user_profile.firstname}} {{user_profile.lastname}}</h3>
        <div class="profile-box-tag">@{{user_profile.user.username}}</div>

        <div class="profile-box-bio">
          <h4>{{user_profile.bio}}</h4>
        </div>
      </div>

      <input type="hidden" value="{{user.username}}" name="follower" />
      <input type="hidden" value="{{user_object.username}}" name="user" />

      {% if user_object.username == user.username %}
      <a class="profile-box-button non-button" href="/settings">change profile</a>
      {% else %}
      <button type="submit" class="profile-box-button">{{button_text}}</button>
      {%endif %}

  </div>
</form>
<!-- PROFILE BOX -->







<!-- POST STATUS 
  <div class="profile-following-list">
    {% if user_post_length == 0 %}
    <div>no posts | followers | 100 following</div>
    {% elif user_post_length == 1 %}
    <div>1 post | followers | 100 following</div>
    {% else %}
    <div>{{user_post_length}} posts | followers | 100 following</div>
    {% endif %}
  </div>
 POST STATUS -->

<!-- FOLLOWING STATUS -->
<div class="profile-following-box">



  {% if user_post_length == 0 %}
  <div> no notes</div>
  {% elif user_post_length == 1 %}
  <div> 1 note</div>
  {% else %}
  <div> {{user_post_length}} notes</div>
  {% endif %}




  {% if user_followers == 0 %}
  <div> no followers</div>
  {% elif user_followers == 1 %}
  <div> 1 follower</div>
  {% else %}
  <div> {{user_followers}} followers</div>
  {% endif %}



  <div> {{user_following}} following</div>
</div>
<!-- FOLLOWING STATUS -->


<!-- FOLLOWING STATUS 
  <div class="profile-following-list">

    {% if user_post_length == 0 %}
    <div>no posts | followers | 100 following</div>
    {% elif user_post_length == 1 %}
    <div>1 post | followers | 100 following</div>
    {% else %}
    <div>{{user_post_length}} posts | followers | 100 following</div>
    {% endif %}
  </div>
FOLLOWING STATUS -->








<!-- GALLERY FEED -->
  <div class="profile-gallery">
    <h2>notes<h2>

      {% for post in user_posts %}
    <div class="profile-gallery-feed">
      <a href="{{post.image.url}}">
        <img class="profile-gallery-img-rectangle" src="{{post.image.url}}">
      </a>
      <a href="{{post.image.url}}">
        <img class="profile-gallery-img-square" src="{{post.image.url}}">
      </a>
    </div>

    <div class="profile-gallery-feed">
      <a href="{{post.image.url}}">
        <img class="profile-gallery-img-square square-2" src="{{post.image.url}}">
      </a>
      <a href="{{post.image.url}}">
        <img class="profile-gallery-img-rectangle rectangle-2"  src="{{post.image.url}}">
      </a>
    </div>
    {% endfor %}

  </div>
<!-- GALLERY FEED -->








<!-- GALLERY FEED 
<div class="profile-gallery">
  <h2>notes<h2>

    {% for post in user_posts %}
  <div class="profile-gallery-feed">
    <div>
      <img class="profile-gallery-img-rectangle" src="https://www.wikihow.com/images/thumb/1/18/Take-Better-Notes-Step-1-Version-2.jpg/v4-460px-Take-Better-Notes-Step-1-Version-2.jpg.webp">
    </div>
    <div>
      <img class="profile-gallery-img-square" src="https://images.pexels.com/photos/3854816/pexels-photo-3854816.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
  </div>

  <div class="profile-gallery-feed">
    <div>
      <img class="profile-gallery-img-square square-2" src="https://m.media-amazon.com/images/I/81nia28xsOL._AC_SL1500_.jpg">
    </div>
    <div>
      <img class="profile-gallery-img-rectangle rectangle-2"  src="https://i.ytimg.com/vi/9siqSpnGN6w/maxresdefault.jpg">
    </div>
  </div>

  <div class="profile-gallery-feed">
    <div>
      <img class="profile-gallery-img-rectangle" src="https://www.sjsu.edu/students/pics/ADV_student-at-student-services-center_WEB.jpg">
    </div>
    <div>
      <img class="profile-gallery-img-square" src="https://uploads-ssl.webflow.com/5ad143610f7efd77b6f188f3/5e3d6ede4a070144b6b8bfdb_IMG_1227.jpg">
    </div>
  </div>
  {% endfor %}

</div>
 GALLERY FEED -->










<!-- ENLARGE IMAGE USING VUE JS -->

<!-- ENLARGE IMAGE -->





  



    </div>
<!-- INDEX CONTAINER -->

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module" src={% static 'js/app.js' %}></script>

  </body>




</html>