{% load static %}

<html lang="en">


  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    <title>aurie - register</title>
  </head>



  <body class="register-body">
<!-- INDEX CONTAINER -->
    <div id="app" class="main" v-cloak>

    <!-- HEADER -->
      <header>
      </header>
    <!-- HEADER -->



    <div class="register-box">
      <!-- LOGO HEADER -->
      <div class="logo-header">
        <div class="register-header-name">welcome {{user.username}}. </div>
      </div>
      <!-- LOGO HEADER -->




      <!-- REGISTER FORM -->
      <form class="settings-form settings-2-form" action="" method="POST">

          {% csrf_token %}
          <div class="settings-password-format"> 

            <div class="password-error"> 
              {% for message in messages %}
                {{message}}
              {% endfor %}
            </div>




            <div class="register-create"> let's create your personalized settings. </div>
        
            <!-- username -->
              <div class="settings-format">
                <h4 class="settings-name">your name </h4>
                <input name="username" type="text" class="login-username-input" placeholder="first name"/>
                <input name="username" type="text" class="login-username-input" placeholder="last name"/>
              </div>

            <!-- email -->
              <div class="settings-format">
                <h4>email </h4>
                <input name="email" type="email" placeholder =""/>
              </div>

              <!-- about me -->
              <div class="settings-format">
                  <h4 class="about-me">about me </h4>
                <input name="username" type="text" class="settings-bio" placeholder=""/>
              </div>

              <!-- college attended/attending -->
              <div class="settings-format">
                <h4>college, program, or institution </h4>
                <input name="username" type="text" class="login-username-input settings-bio" placeholder=""/>
              </div>
 

          </div>

            <button type="submit">register</button>

        </form>
      <!-- REGISTER FORM -->




      <!-- LOG INTO ACCOUNT -->
        <div class="register-signup">
          already have an account?
          <a href="/login">login</a>
        </div>
      <!-- LOG INTO ACCOUNT -->







      </div>
    </div>
<!-- INDEX CONTAINER -->

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module" src={% static 'js/app.js' %}></script>
  </body>




</html>