{% load static %}

<html lang="en">


  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    <title>aurie - register</title>
  </head>



  <body>
<!-- INDEX CONTAINER -->

    <div id="app" class="main" v-cloak>
      <!-- LOGO HEADER -->
      <div class="">
          <div class="settings-header-name">hello {{user_profile.firstname}}.</div>
          <div class="settings-create">let's update your settings. </div>
      </div>
      <!-- LOGO HEADER -->



      <!-- REGISTER FORM -->
      <form class="settings-form settings-2-form" action="" method="POST" enctype="multipart/form-data">

          {% csrf_token %}
          <div class="settings-password-format"> 
          <!-- INPUT ITEMS -->

              <!-- profile -->
              <label class="profile" for="">
                  <img class="settings-profile-img" src="{{user_profile.profileimg.url}}" />
                    <input type="file" name="image" value=""/>
              </label>
              <!-- profile -->



            <!-- username -->
            <div class="settings-line">
              <div class="settings-format">
                <input name="firstname" type="text" class="" placeholder="first name" value="{{user_profile.firstname}}"/>
                <input name="lastname" type="text" class="" placeholder="last name" value="{{user_profile.lastname}}"/>
              </div>

              <div class="settings-format-info">
                <textarea id="about" rows="3" name="bio" type="text" class="settings-bio" placeholder="about me">{{user_profile.bio}}</textarea>
                <input name="location"  type="text" class="college" placeholder="college" value="{{user_profile.location}}"/>
              </div>
            </div>
          <!-- INPUT ITEMS -->


          </div>
            <a class="submit-settings cancel" href="/">cancel</a>
            <button type="submit" class="submit-settings">save</button>

        </form>
      <!-- REGISTER FORM -->



    </div>
<!-- INDEX CONTAINER -->

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module" src={% static 'js/app.js' %}></script>
  </body>




</html>